name: release

on:
  release:
    types: [published]
    branches: [main]

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install build + twine
        run: |
          python -m pip install --upgrade pip
          python -m pip install build twine

      - name: Run build target
        run: make build

      - name: Run publish target
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: make publish

  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6

      - name: Set up the environment
        uses: ./.github/actions/setup-uv-env
        with:
          extras: docs

      - name: Export tag
        id: vars
        run: echo tag=${GITHUB_REF#refs/*/} >> $GITHUB_OUTPUT

      - name: Run docs target
        env:
          RELEASE_VERSION: ${{ steps.vars.outputs.tag }}
        run: |
          make docs
          touch build/html/.nojekyll

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build/html
