name: test

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6

      - uses: actions/cache@v5
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Set up (uv)
        uses: ./.github/actions/setup-uv-env
        with:
          extras: check

      - name: Run check target
        run: make check

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
      - name: Check out
        uses: actions/checkout@v6

      - name: Set up the environment
        uses: ./.github/actions/setup-uv-env
        with:
          python-version: ${{ matrix.python-version }}
          extras: test

      - name: Run test target
        run: make test

      - name: "Upload coverage data"
        uses: actions/upload-artifact@v6
        with:
          name: coverage-data-${{ matrix.python-version }}
          path: .coverage.*
          if-no-files-found: ignore
          include-hidden-files: true

  coverage:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Check out
        uses: actions/checkout@v6

      - name: Set up the environment
        uses: ./.github/actions/setup-uv-env
        with:
          python-version: "3.14"
          extras: test

      - name: Download coverage data
        uses: actions/download-artifact@v7
        with:
          pattern: coverage-data-*
          merge-multiple: true

      - name: Run coverage target
        run: make coverage

      - name: Upload HTML report if check failed.
        uses: actions/upload-artifact@v6
        with:
          name: html-report
          path: htmlcov
        if: ${{ failure() }}

  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6

      - name: Set up the environment
        uses: ./.github/actions/setup-uv-env
        with:
          extras: docs

      - name: Run docs target
        run: make docs
